*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  background:#020817;
  font-family:Arial,sans-serif;
}

.login-screen{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:24px;
}

.login-content{
  width:100%;
  max-width:380px;

  display:flex;
  flex-direction:column;
}

.logo{
  width:180px;
  height:180px;

  margin:0 auto 24px;

  object-fit:contain;
}

.title{
  color:white;
  text-align:center;

  font-size:42px;
  font-weight:700;

  margin-bottom:10px;
}

.subtitle{
  color:#94a3b8;
  text-align:center;

  font-size:16px;

  margin-bottom:50px;
}

.google-button{
  height:58px;

  border:none;
  border-radius:18px;

  background:white;
  color:black;

  font-size:16px;
  font-weight:600;

  margin-bottom:28px;

  cursor:pointer;
}

.divider{
  color:#64748b;

  text-align:center;

  margin-bottom:24px;

  font-size:14px;
}

.phone-input{
  height:58px;

  border:1px solid #1e293b;
  border-radius:18px;

  background:#0f172a;
  color:white;

  padding:0 18px;

  margin-bottom:20px;

  font-size:16px;

  outline:none;
}

.phone-input::placeholder{
  color:#64748b;
}

.otp-button{
  height:58px;

  border:none;
  border-radius:18px;

  background:#22c55e;
  color:white;

  font-size:18px;
  font-weight:700;

  cursor:pointer;
}

.otp-button:hover{
  opacity:.95;
}
